{{ header }}
<div class="review-user-page page-content">
  <div class="row">
    <div class="col-12">
        {% if company.image %}
            <div class="company-logo">
                <img src="{{ company.image }}" alt="">
            </div>
        {% endif %}
        <h3 class="form-title">
            {{ company.name }}
        </h3>
        
        {% if company.status %}
            <h3 class="form-title" id="text_field_1"></h3>
            <form class="form-review-user" id="form_review_user" action="{{ form_action }}">
              <div class="stars-wrap">
                <!-- <div class="stars-group"></div> -->
                <input class="d-none" type="radio" name="stars" id="stars_5" value="5">
                <label for="stars_5">
                  <svg class="star" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.3065 4.68002L20.6532 9.37335C20.9732 10.0267 21.8265 10.6534 22.5465 10.7734L26.7999 11.48C29.5199 11.9334 30.1599 13.9067 28.1999 15.8534L24.8932 19.16C24.3332 19.72 24.0265 20.8 24.1999 21.5734L25.1465 25.6667C25.8932 28.9067 24.1732 30.16 21.3065 28.4667L17.3199 26.1067C16.5999 25.68 15.4132 25.68 14.6799 26.1067L10.6932 28.4667C7.83988 30.16 6.10655 28.8934 6.85321 25.6667L7.79988 21.5734C7.97321 20.8 7.66655 19.72 7.10655 19.16L3.79988 15.8534C1.85321 13.9067 2.47988 11.9334 5.19988 11.48L9.45321 10.7734C10.1599 10.6534 11.0132 10.0267 11.3332 9.37335L13.6799 4.68002C14.9599 2.13335 17.0399 2.13335 18.3065 4.68002Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </label>
                <input class="d-none" type="radio" name="stars" id="stars_4" value="4">
                <label for="stars_4">
                  <svg class="star" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.3065 4.68002L20.6532 9.37335C20.9732 10.0267 21.8265 10.6534 22.5465 10.7734L26.7999 11.48C29.5199 11.9334 30.1599 13.9067 28.1999 15.8534L24.8932 19.16C24.3332 19.72 24.0265 20.8 24.1999 21.5734L25.1465 25.6667C25.8932 28.9067 24.1732 30.16 21.3065 28.4667L17.3199 26.1067C16.5999 25.68 15.4132 25.68 14.6799 26.1067L10.6932 28.4667C7.83988 30.16 6.10655 28.8934 6.85321 25.6667L7.79988 21.5734C7.97321 20.8 7.66655 19.72 7.10655 19.16L3.79988 15.8534C1.85321 13.9067 2.47988 11.9334 5.19988 11.48L9.45321 10.7734C10.1599 10.6534 11.0132 10.0267 11.3332 9.37335L13.6799 4.68002C14.9599 2.13335 17.0399 2.13335 18.3065 4.68002Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </label>
                <input class="d-none" type="radio" name="stars" id="stars_3" value="3">
                <label for="stars_3">
                  <svg class="star" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.3065 4.68002L20.6532 9.37335C20.9732 10.0267 21.8265 10.6534 22.5465 10.7734L26.7999 11.48C29.5199 11.9334 30.1599 13.9067 28.1999 15.8534L24.8932 19.16C24.3332 19.72 24.0265 20.8 24.1999 21.5734L25.1465 25.6667C25.8932 28.9067 24.1732 30.16 21.3065 28.4667L17.3199 26.1067C16.5999 25.68 15.4132 25.68 14.6799 26.1067L10.6932 28.4667C7.83988 30.16 6.10655 28.8934 6.85321 25.6667L7.79988 21.5734C7.97321 20.8 7.66655 19.72 7.10655 19.16L3.79988 15.8534C1.85321 13.9067 2.47988 11.9334 5.19988 11.48L9.45321 10.7734C10.1599 10.6534 11.0132 10.0267 11.3332 9.37335L13.6799 4.68002C14.9599 2.13335 17.0399 2.13335 18.3065 4.68002Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </label>
                <input class="d-none" type="radio" name="stars" id="stars_2" value="2">
                <label for="stars_2">
                  <svg class="star" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.3065 4.68002L20.6532 9.37335C20.9732 10.0267 21.8265 10.6534 22.5465 10.7734L26.7999 11.48C29.5199 11.9334 30.1599 13.9067 28.1999 15.8534L24.8932 19.16C24.3332 19.72 24.0265 20.8 24.1999 21.5734L25.1465 25.6667C25.8932 28.9067 24.1732 30.16 21.3065 28.4667L17.3199 26.1067C16.5999 25.68 15.4132 25.68 14.6799 26.1067L10.6932 28.4667C7.83988 30.16 6.10655 28.8934 6.85321 25.6667L7.79988 21.5734C7.97321 20.8 7.66655 19.72 7.10655 19.16L3.79988 15.8534C1.85321 13.9067 2.47988 11.9334 5.19988 11.48L9.45321 10.7734C10.1599 10.6534 11.0132 10.0267 11.3332 9.37335L13.6799 4.68002C14.9599 2.13335 17.0399 2.13335 18.3065 4.68002Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </label>
                <input class="d-none" type="radio" name="stars" id="stars_1" value="1">
                <label for="stars_1">
                  <svg class="star" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.3065 4.68002L20.6532 9.37335C20.9732 10.0267 21.8265 10.6534 22.5465 10.7734L26.7999 11.48C29.5199 11.9334 30.1599 13.9067 28.1999 15.8534L24.8932 19.16C24.3332 19.72 24.0265 20.8 24.1999 21.5734L25.1465 25.6667C25.8932 28.9067 24.1732 30.16 21.3065 28.4667L17.3199 26.1067C16.5999 25.68 15.4132 25.68 14.6799 26.1067L10.6932 28.4667C7.83988 30.16 6.10655 28.8934 6.85321 25.6667L7.79988 21.5734C7.97321 20.8 7.66655 19.72 7.10655 19.16L3.79988 15.8534C1.85321 13.9067 2.47988 11.9334 5.19988 11.48L9.45321 10.7734C10.1599 10.6534 11.0132 10.0267 11.3332 9.37335L13.6799 4.68002C14.9599 2.13335 17.0399 2.13335 18.3065 4.68002Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </label>
                <span class="error-message d-none">{{ error_rate }}</span>
              </div>
              <label for="name" class="input-group">
                <span class="label-text">{{ entry_name }}</span>
                <input class="name" type="text" name="name" id="name" placeholder="{{ placeholder_name }}" autocomplete="off">
                <span class="error-message d-none">{{ error_name }}</span>
              </label>
              <label for="text" class="input-group">
                <span class="label-text">{{ entry_text }}</span>
                <textarea name="text" id="text" placeholder="{{ placeholder_text }}"></textarea>
                <span class="error-message d-none">{{ error_text }}</span>
              </label>
              
                <div class="add-image-container">
                    <div class="add-image-button-block">
                        <div class="site-btn" onclick="addImageBlock()">{{ text_add_image}}</div>
                    </div>
                </div>

              <label for="email" class="input-group">
                <span class="label-text">{{ entry_email }}</span>
                <input class="email" type="email" name="email" id="email" placeholder="{{ placeholder_email }}" autocomplete="off">
                <span class="error-message d-none">{{ error_email }}</span>
              </label>
              <label for="telephone" class="input-group">
                <span class="label-text">{{ entry_telephone }}</span>
                <input class="phone" type="tel" name="telephone" id="telephone" placeholder="+380" autocomplete="off">
                <span class="error-message d-none">{{ error_telephone }}</span>
              </label>
              <input class="site-btn" type="submit" value="{{ text_send }}">
            </form>
        {% else %}
            <h3 class="form-title">
              {{ text_unable_write_review }}
              <span class="sub-title">{{ text_company_not_active }}</span>
            </h3>
        {% endif %}
      
    </div>
  </div>
</div>

{{ footer }}

<script>
    var decoded = $("<div/>").html('{{ text_field_1 }}').text();
    $('#text_field_1').html(decoded);
    
    function addImageBlock(){
    
        const nextInputId = $('.add-image-container .form-group').length + 1;
        const imageBlockHtml = `
        <div class="form-group">
          
          <div class="dropzone-wrapper">
          
          <span class="remove-preview" onclick="removeImageBlock(${nextInputId})">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" fill="white" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9.16992 14.8299L14.8299 9.16992" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14.8299 14.8299L9.16992 9.16992" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
          </span>
          
            <input type="file" name="image[]" id="input_image_${nextInputId}" onchange="readReviewFile(this)" class="dropzone dropzone-review" accept=".jpg, .jpeg, .png">
            <div class="dropzone-desc">
            
            </div>
          </div>
        </div>
        `;
        
        $('.add-image-container').prepend(imageBlockHtml);
        $('#input_image_' + nextInputId).click();
    }
    
    function removeImageBlock(inputId) {
        $('#input_image_' + inputId).closest('.dropzone-wrapper').remove()
    }
    
    function readReviewFile(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          var wrapperZone = $(input).parent('.dropzone-wrapper');
          wrapperZone.removeClass('dragover');

          img = new Image();
          img.onload = function () {
            if(this.width < 300 || this.height < 300){
              $('.dropzone').val('');
              $('.dropzone-wrapper').css('background-image', 'none').removeClass('active')
              $('.very-big-img').addClass('d-none').css('color', 'red')
              $('.very-small-img').removeClass('d-none').css('color', 'red')
            }else if(this.width > 5000 || this.height > 5000){
              $('.dropzone').val('');
              $('.dropzone-wrapper').css('background-image', 'none').removeClass('active')
              $('.very-small-img').addClass('d-none').css('color', 'red')
              $('.very-big-img').removeClass('d-none').css('color', 'red')
            }else{
              $('.very-big-img').addClass('d-none')
              $('.very-small-img').addClass('d-none')
              wrapperZone.css('background-image', 'url(' + e.target.result + ')').addClass('active').removeClass('error-img')
            }
          };
          img.src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
    
</script>

<style>
    .add-image-container{
        width: 100%;
        height: 187px;
        display: flex;
        overflow-x: auto;
        margin-bottom: 20px;
        border-radius: 8px;
        align-items: center;
    }
    
    .add-image-container .form-group {
        border-radius: 12px;
    }
    
    .add-image-container .form-group .dropzone-wrapper {
        position: relative;
        overflow: hidden;
        text-align: center;
        height: 180px;
        width: 180px;
        padding: 40px 15px 15px;
        margin-right: 8px;
        border: 1px dashed #000;
        border-radius: 8px;
        background-color: #fff;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-box-shadow: 0 4px 8px #bcbcbc3d;
        box-shadow: 0 4px 8px #bcbcbc3d;
    }
    
    .add-image-container .add-image-button-block {
        display: flex;
        position: relative;
        overflow: hidden;
        text-align: center;
        height: 180px;
        width: 100%;
        min-width: 180px;
        padding: 15px;
        margin-right: 8px;
        border: 1px dashed #000;
        border-radius: 8px;
        background-color: #fff;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-box-shadow: 0 4px 8px #bcbcbc3d;
        box-shadow: 0 4px 8px #bcbcbc3d;
    }
    
    .add-image-container .form-group .dropzone-wrapper .dropzone {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 185px 0 0 0;
        overflow: hidden;
        background-color: transparent;
        cursor: cell;
        opacity: .1;
        z-index: 1;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }
    
    .add-image-container .form-group .dropzone-wrapper .remove-preview {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
        z-index: 2;
    }

</style>