<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}"/>
  {% if description %}
    <meta name="description" content="{{ description }}"/>
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}"/>
  {% endif %}
  <!-- <script src="{{ jquery }}" type="text/javascript"></script>
  <link href="{{ bootstrap }}" type="text/css" rel="stylesheet" media="screen"/> -->
  <link href="{{ icons }}" type="text/css" rel="stylesheet"/>
  <link href="{{ stylesheet }}" type="text/css" rel="stylesheet"/>
  {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
  {% endfor %}
  <link rel="stylesheet" href="/catalog/view/stylesheet/static/css/header.min.css"/>
  <link rel="stylesheet" href="/extension/feedback/catalog/view/stylesheet/static/css/footer.css"/>
  {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}"/>
  {% endfor %}
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
</head>
<body>

<!-- <div class="preloader-wr">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div> -->

<div class="offset-height-block"></div>

<header class="header">
  <div class="container-fluid header-wrap">
    <nav class="row navbar navbar-expand-xl px-xl-0">

      <button class="navbar-toggler d-xl-none d-inline-flex justify-content-center flex-column" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-1"></span>
        <span class="navbar-toggler-2"></span>
        <span class="navbar-toggler-3"></span>
      </button>

      <a class="navbar-logo-link" href="/">
        <svg class="logo" width="275" height="72" viewBox="0 0 275 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_3525_6359)">
            <path d="M59.5514 47.8059C59.5514 48.1768 59.9186 48.4792 60.3711 48.4792H60.6804C61.1329 48.4792 61.5 48.1793 61.5 47.8059V36.2598C61.5 35.8888 61.1329 35.5864 60.6804 35.5864H60.3734C59.9209 35.5864 59.5537 35.887 59.5537 36.2598L59.5514 47.8059Z" fill="#BCBCBC" />
            <path d="M25.6143 47.8059C25.6143 48.1768 25.9814 48.4792 26.4339 48.4792H26.7409C27.1934 48.4792 27.5605 48.1793 27.5605 47.8059V36.2598C27.5605 35.8888 27.1934 35.5864 26.7409 35.5864H26.4339C25.9814 35.5864 25.6143 35.887 25.6143 36.2598V47.8059Z" fill="#BCBCBC" />
            <path d="M54.8208 17.1018C54.8208 17.3198 54.8813 17.5328 54.9946 17.714C55.1079 17.8952 55.2689 18.0364 55.4573 18.1198C55.6457 18.2032 55.853 18.225 56.053 18.1825C56.253 18.14 56.4367 18.0351 56.5808 17.881C56.725 17.7269 56.8232 17.5305 56.863 17.3168C56.9028 17.1031 56.8824 16.8815 56.8043 16.6802C56.7263 16.4789 56.5942 16.3068 56.4246 16.1857C56.2551 16.0646 56.0557 16 55.8518 16C55.5784 16 55.3162 16.1161 55.1228 16.3227C54.9295 16.5294 54.8208 16.8096 54.8208 17.1018Z" fill="#BCBCBC" />
            <path d="M55.2566 25.8287H56.4434L56.1553 17.1021H55.5968L55.2566 25.8287Z" fill="#BCBCBC" />
            <path d="M53.7291 30.6948C53.7291 31.0658 54.0453 31.3682 54.4359 31.3682H57.262C57.6526 31.3682 57.9688 31.0676 57.9688 30.6948V24.7871C57.9688 24.4162 57.6526 24.1138 57.262 24.1138H54.4353C54.0447 24.1138 53.7285 24.4143 53.7285 24.7871L53.7291 30.6948Z" fill="#BCBCBC" />
            <path d="M30.233 17.1018C30.233 17.3198 30.2934 17.5328 30.4067 17.714C30.52 17.8952 30.681 18.0364 30.8694 18.1198C31.0578 18.2032 31.2651 18.225 31.4651 18.1825C31.6651 18.14 31.8488 18.0351 31.993 17.881C32.1371 17.7269 32.2353 17.5305 32.2751 17.3168C32.3149 17.1031 32.2945 16.8815 32.2164 16.6802C32.1384 16.4789 32.0063 16.3068 31.8367 16.1857C31.6672 16.0646 31.4678 16 31.2639 16C30.9905 16 30.7283 16.1161 30.5349 16.3227C30.3416 16.5294 30.233 16.8096 30.233 17.1018Z" fill="#BCBCBC" />
            <path d="M30.6681 25.8287H31.8555L31.5668 17.1021H31.0089L30.6681 25.8287Z" fill="#BCBCBC" />
            <path d="M29.1412 30.6948C29.1412 31.0658 29.458 31.3682 29.848 31.3682H32.6741C33.0647 31.3682 33.3809 31.0676 33.3809 30.6948V24.7871C33.3809 24.4162 33.0647 24.1138 32.6741 24.1138H29.848C29.458 24.1138 29.1412 24.4143 29.1412 24.7871V30.6948Z" fill="#BCBCBC" />
            <path d="M26.7112 35.4727C27.0073 29.1677 34.435 24.1157 43.5558 24.1157C52.6766 24.1157 60.1043 29.1658 60.3998 35.4727C60.4064 35.5355 60.4099 35.5986 60.4102 35.6618V53.7419C60.4102 54.99 59.1856 56.0019 57.6752 56.0019H29.4376C27.9272 56.0019 26.7026 54.99 26.7026 53.7419V35.6618C26.7023 35.5987 26.7052 35.5355 26.7112 35.4727Z" fill="#D1D1D1" />
            <path d="M29.4376 54.4849H57.6752C59.1856 54.4849 60.4102 53.8367 60.4102 53.0378V54.5535C60.4102 55.3529 59.1856 56.0006 57.6752 56.0006H29.4376C27.9272 56.0006 26.7026 55.3529 26.7026 54.5535V53.0366C26.7026 53.8367 27.9272 54.4849 29.4376 54.4849Z" fill="#BCBCBC" />
            <path d="M30.9378 49.1216V39.3972C30.9378 39.3439 30.9412 39.2913 30.9458 39.2393C31.1669 33.9816 36.7308 29.772 43.5571 29.772C50.3834 29.772 55.9467 33.9816 56.1683 39.2393C56.1729 39.2913 56.1758 39.3439 56.1758 39.3972V49.1216H30.9378Z" fill="#BCBCBC" />
            <path d="M30.9378 49.1214V40.0005C30.9382 39.9513 30.9408 39.902 30.9458 39.853C31.1669 34.9223 36.7308 30.9771 43.5571 30.9771C50.3834 30.9771 55.9467 34.9241 56.1683 39.853C56.1731 39.902 56.1756 39.9513 56.1758 40.0005V49.1214H30.9378Z" fill="#6982C5" />
            <path opacity="0.2" d="M30.9458 39.855C31.1669 34.9242 36.7308 30.979 43.5571 30.979C50.3834 30.979 55.9467 34.9261 56.1683 39.855C56.1731 39.904 56.1756 39.9532 56.1758 40.0025V42.0164C56.1756 41.9669 56.1731 41.9175 56.1683 41.8683C55.9467 36.9381 50.3834 32.9923 43.5571 32.9923C36.7308 32.9923 31.1669 36.94 30.9458 41.8683C30.9408 41.9175 30.9382 41.9669 30.9378 42.0164V40.0025C30.9382 39.9532 30.9408 39.904 30.9458 39.855Z" fill="#2D353F" />
            <path d="M36.6482 37.2045C36.6477 37.1967 36.6477 37.1889 36.6482 37.1812C36.6479 37.1759 36.6479 37.1706 36.6482 37.1653L36.6517 37.1433L36.6551 37.1255C36.6551 37.1194 36.658 37.1126 36.6597 37.1065C36.6613 37.1001 36.6632 37.0938 36.6654 37.0876C36.6654 37.082 36.6689 37.0765 36.6712 37.0704C36.6734 37.0643 36.6763 37.0569 36.6792 37.0502L36.686 37.0361C36.6893 37.029 36.693 37.022 36.6969 37.0153C36.6969 37.0153 36.6969 37.0092 36.7015 37.0067C36.7013 37.0051 36.7013 37.0035 36.7015 37.0019L36.7135 36.9835L36.7233 36.9694C36.7267 36.9645 36.7307 36.9602 36.7347 36.9553L36.7473 36.94L36.7582 36.9296L36.7737 36.9143L36.7846 36.9051L36.8017 36.8917L36.8155 36.8825C36.8206 36.8787 36.826 36.8752 36.8315 36.8721C36.8373 36.8687 36.8432 36.8656 36.8493 36.8629L36.8625 36.8556L36.8837 36.847L36.8957 36.8427L36.9169 36.836L36.93 36.8323L36.9495 36.8286H36.9661H36.9827H37.0034H50.1049H50.1261H50.1421H50.1599L50.1782 36.8323L50.1925 36.8366L50.2126 36.8421L50.2258 36.8476L50.2458 36.8556L50.2601 36.8629L50.2767 36.8721L50.2939 36.8831L50.3065 36.8917C50.3127 36.896 50.3186 36.9007 50.3243 36.9057L50.3346 36.9143L50.3506 36.9302L50.3609 36.94L50.3741 36.9553L50.385 36.9694C50.3884 36.9743 50.3919 36.9786 50.3947 36.9835C50.3991 36.9893 50.4031 36.9955 50.4068 37.0019L50.4102 37.0067C50.4102 37.0067 50.4102 37.0123 50.4148 37.0153C50.4194 37.0184 50.4222 37.0288 50.4257 37.0361C50.4291 37.0435 50.4297 37.0453 50.432 37.0502C50.4342 37.0551 50.4377 37.0637 50.44 37.0704C50.4423 37.0771 50.444 37.082 50.4457 37.0876C50.448 37.0938 50.4499 37.1001 50.4514 37.1065C50.4514 37.1126 50.4549 37.1194 50.456 37.1255C50.4577 37.1313 50.4589 37.1372 50.4595 37.1433C50.4595 37.1506 50.4595 37.1579 50.4629 37.1653V37.1812C50.4629 37.1892 50.4629 37.1965 50.4629 37.2045C50.4629 37.2124 50.4629 37.2112 50.4629 37.2149V45.9972C50.4629 46.0009 50.4629 46.0039 50.4629 46.0076C50.4629 46.0113 50.4629 46.0235 50.4629 46.0308V46.0468C50.4629 46.0541 50.4629 46.0615 50.4595 46.0688C50.4589 46.0748 50.4577 46.0808 50.456 46.0866C50.456 46.0927 50.456 46.0994 50.4514 46.1055C50.4499 46.112 50.448 46.1183 50.4457 46.1245C50.4457 46.13 50.4423 46.1361 50.44 46.1416C50.4377 46.1472 50.4348 46.1551 50.432 46.1618C50.4291 46.1686 50.428 46.1716 50.4257 46.1759C50.4234 46.1802 50.4182 46.19 50.4148 46.1967C50.4113 46.2035 50.4148 46.2029 50.4102 46.2053V46.209C50.4026 46.2223 50.3942 46.2349 50.385 46.2469L50.3816 46.2512C50.3735 46.261 50.3649 46.2702 50.3564 46.2794L50.3449 46.2904L50.3237 46.3094L50.3117 46.3186C50.2891 46.3357 50.2647 46.3499 50.2389 46.3608L50.2292 46.3645L50.1983 46.3749H50.1868C50.1766 46.3775 50.1663 46.3795 50.1559 46.381H50.1444C50.1313 46.381 50.1187 46.381 50.1049 46.381H37.0142C37.0011 46.381 36.9879 46.381 36.9747 46.381H36.9638C36.9532 46.3796 36.9427 46.3776 36.9323 46.3749H36.9209L36.89 46.3645L36.8808 46.3608C36.8549 46.3499 36.8302 46.3357 36.8075 46.3186L36.796 46.3094C36.7886 46.3032 36.7811 46.2971 36.7743 46.2904L36.7628 46.2794C36.7542 46.2702 36.7462 46.261 36.7382 46.2512L36.7342 46.2469C36.7251 46.2348 36.7167 46.2221 36.709 46.209C36.709 46.209 36.709 46.209 36.709 46.2053C36.709 46.2016 36.7061 46.1998 36.7044 46.1967C36.7004 46.19 36.6968 46.1831 36.6935 46.1759L36.6866 46.1618C36.6866 46.1551 36.6809 46.1484 36.6786 46.1416C36.6763 46.1349 36.6746 46.13 36.6729 46.1245C36.6706 46.1183 36.6687 46.112 36.6671 46.1055C36.6671 46.0994 36.6637 46.0927 36.6626 46.0866L36.6591 46.0688L36.6557 46.0468C36.6554 46.0415 36.6554 46.0361 36.6557 46.0308C36.6551 46.0231 36.6551 46.0153 36.6557 46.0076C36.6554 46.0041 36.6554 46.0006 36.6557 45.9972V37.2149C36.6529 37.2117 36.6504 37.2082 36.6482 37.2045ZM38.2864 37.606L43.5559 41.1436L48.8253 37.606H38.2864ZM38.2864 45.606H49.7406L49.7332 45.2889V37.9231L44.2455 41.6063L43.5581 42.0685L42.8708 41.6063L37.3831 37.9231V45.2889L37.3717 45.606H38.2864Z" fill="#69FF77" />
          </g>
            <path d="M85.66 27.7H94.84V30.24H88.9V34.02H93.6V36.46H88.9V42H85.66V27.7ZM101.294 42.22C99.6676 42.22 98.3676 41.7467 97.3942 40.8C96.3542 39.84 95.8342 38.54 95.8342 36.9V36.74C95.8342 35.1133 96.3542 33.7933 97.3942 32.78C98.4076 31.7933 99.6809 31.3 101.214 31.3C102.668 31.3 103.854 31.72 104.774 32.56C105.801 33.4933 106.314 34.8467 106.314 36.62V37.42H98.7742C98.8142 38.3 99.0542 38.98 99.4942 39.46C99.9476 39.9267 100.574 40.16 101.374 40.16C102.628 40.16 103.354 39.6733 103.554 38.7H106.294C106.121 39.8333 105.601 40.7067 104.734 41.32C103.881 41.92 102.734 42.22 101.294 42.22ZM103.494 35.64C103.401 34.08 102.641 33.3 101.214 33.3C100.561 33.3 100.021 33.5067 99.5942 33.92C99.1809 34.32 98.9209 34.8933 98.8142 35.64H103.494ZM113.267 42.22C111.64 42.22 110.34 41.7467 109.367 40.8C108.327 39.84 107.807 38.54 107.807 36.9V36.74C107.807 35.1133 108.327 33.7933 109.367 32.78C110.38 31.7933 111.654 31.3 113.187 31.3C114.64 31.3 115.827 31.72 116.747 32.56C117.774 33.4933 118.287 34.8467 118.287 36.62V37.42H110.747C110.787 38.3 111.027 38.98 111.467 39.46C111.92 39.9267 112.547 40.16 113.347 40.16C114.6 40.16 115.327 39.6733 115.527 38.7H118.267C118.094 39.8333 117.574 40.7067 116.707 41.32C115.854 41.92 114.707 42.22 113.267 42.22ZM115.467 35.64C115.374 34.08 114.614 33.3 113.187 33.3C112.534 33.3 111.994 33.5067 111.567 33.92C111.154 34.32 110.894 34.8933 110.787 35.64H115.467ZM124.34 42.22C123.02 42.22 121.946 41.7667 121.12 40.86C120.24 39.9133 119.8 38.6 119.8 36.92V36.76C119.8 35.0933 120.24 33.7533 121.12 32.74C121.96 31.78 123.053 31.3 124.4 31.3C125.946 31.3 127.046 31.9 127.7 33.1V26.8H130.58V42H127.7V40.26C127.42 40.82 126.973 41.2867 126.36 41.66C125.746 42.0333 125.073 42.22 124.34 42.22ZM125.2 39.96C125.986 39.96 126.613 39.7 127.08 39.18C127.546 38.6467 127.78 37.86 127.78 36.82V36.66C127.78 35.6333 127.566 34.8533 127.14 34.32C126.713 33.7867 126.093 33.52 125.28 33.52C124.466 33.52 123.84 33.7933 123.4 34.34C122.973 34.8733 122.76 35.66 122.76 36.7V36.86C122.76 37.8733 122.98 38.6467 123.42 39.18C123.86 39.7 124.453 39.96 125.2 39.96ZM139.648 42.22C138.861 42.22 138.174 42.0533 137.588 41.72C137.014 41.3733 136.588 40.9133 136.308 40.34V42H133.408V26.8H136.308V33.18C136.614 32.6333 137.061 32.1867 137.648 31.84C138.248 31.48 138.914 31.3 139.648 31.3C140.968 31.3 142.048 31.76 142.888 32.68C143.768 33.64 144.208 34.9667 144.208 36.66V36.82C144.208 38.5 143.774 39.8267 142.908 40.8C142.081 41.7467 140.994 42.22 139.648 42.22ZM138.788 39.96C139.588 39.96 140.201 39.7 140.628 39.18C141.054 38.6467 141.268 37.8667 141.268 36.84V36.68C141.268 35.64 141.041 34.8533 140.588 34.32C140.134 33.7867 139.528 33.52 138.768 33.52C137.981 33.52 137.354 33.7933 136.888 34.34C136.434 34.8733 136.208 35.6533 136.208 36.68V36.84C136.208 37.8667 136.434 38.6467 136.888 39.18C137.341 39.7 137.974 39.96 138.788 39.96ZM149.216 42.22C148.203 42.22 147.383 41.9733 146.756 41.48C146.063 40.9333 145.716 40.14 145.716 39.1C145.716 37.94 146.223 37.0733 147.236 36.5C148.143 35.9933 149.449 35.74 151.156 35.74H152.336V35.32C152.336 34.6533 152.209 34.1667 151.956 33.86C151.716 33.5533 151.276 33.4 150.636 33.4C149.609 33.4 149.016 33.8933 148.856 34.88H146.116C146.196 33.7067 146.683 32.8 147.576 32.16C148.389 31.5867 149.469 31.3 150.816 31.3C152.163 31.3 153.216 31.5933 153.976 32.18C154.789 32.82 155.196 33.82 155.196 35.18V42H152.376V40.74C151.669 41.7267 150.616 42.22 149.216 42.22ZM150.076 40.2C150.729 40.2 151.269 40.0333 151.696 39.7C152.123 39.3667 152.336 38.9133 152.336 38.34V37.46H151.216C150.336 37.46 149.669 37.5733 149.216 37.8C148.776 38.0267 148.556 38.4067 148.556 38.94C148.556 39.78 149.063 40.2 150.076 40.2ZM162.66 42.22C161.086 42.22 159.806 41.76 158.82 40.84C157.793 39.88 157.28 38.5667 157.28 36.9V36.74C157.28 35.1 157.806 33.7667 158.86 32.74C159.86 31.78 161.133 31.3 162.68 31.3C164.026 31.3 165.12 31.6 165.96 32.2C166.92 32.8933 167.466 33.9467 167.6 35.36H164.86C164.686 34.1733 163.98 33.58 162.74 33.58C161.966 33.58 161.353 33.8533 160.9 34.4C160.46 34.9467 160.24 35.7133 160.24 36.7V36.86C160.24 37.9 160.46 38.6933 160.9 39.24C161.353 39.7733 161.986 40.04 162.8 40.04C163.413 40.04 163.92 39.8667 164.32 39.52C164.733 39.1733 164.973 38.6733 165.04 38.02H167.66C167.58 39.3133 167.106 40.32 166.24 41.04C165.32 41.8267 164.126 42.22 162.66 42.22ZM169.716 26.8H172.616V35.96L175.976 31.54H179.056L175.256 36.3L179.356 42H176.076L172.616 37.06V42H169.716V26.8ZM185.758 27.7H188.998V33.54H194.738V27.7H197.978V42H194.738V36.1H188.998V42H185.758V27.7ZM205.747 42.22C204.121 42.22 202.821 41.7467 201.847 40.8C200.807 39.84 200.287 38.54 200.287 36.9V36.74C200.287 35.1133 200.807 33.7933 201.847 32.78C202.861 31.7933 204.134 31.3 205.667 31.3C207.121 31.3 208.307 31.72 209.227 32.56C210.254 33.4933 210.767 34.8467 210.767 36.62V37.42H203.227C203.267 38.3 203.507 38.98 203.947 39.46C204.401 39.9267 205.027 40.16 205.827 40.16C207.081 40.16 207.807 39.6733 208.007 38.7H210.747C210.574 39.8333 210.054 40.7067 209.187 41.32C208.334 41.92 207.187 42.22 205.747 42.22ZM207.947 35.64C207.854 34.08 207.094 33.3 205.667 33.3C205.014 33.3 204.474 33.5067 204.047 33.92C203.634 34.32 203.374 34.8933 203.267 35.64H207.947ZM212.98 26.8H215.86V42H212.98V26.8ZM218.74 31.54H221.64V33.18C221.947 32.6333 222.393 32.1867 222.98 31.84C223.58 31.48 224.247 31.3 224.98 31.3C226.3 31.3 227.38 31.76 228.22 32.68C229.1 33.64 229.54 34.9667 229.54 36.66V36.82C229.54 38.5 229.107 39.8267 228.24 40.8C227.413 41.7467 226.327 42.22 224.98 42.22C224.207 42.22 223.527 42.0533 222.94 41.72C222.353 41.3733 221.92 40.9333 221.64 40.4V45.56H218.74V31.54ZM224.12 39.96C224.92 39.96 225.533 39.7 225.96 39.18C226.387 38.6467 226.6 37.8667 226.6 36.84V36.68C226.6 35.64 226.373 34.8533 225.92 34.32C225.467 33.7867 224.86 33.52 224.1 33.52C223.313 33.52 222.687 33.7933 222.22 34.34C221.767 34.8733 221.54 35.6533 221.54 36.68V36.84C221.54 37.8667 221.767 38.6467 222.22 39.18C222.673 39.7 223.307 39.96 224.12 39.96ZM236.548 42.22C234.921 42.22 233.621 41.7467 232.648 40.8C231.608 39.84 231.088 38.54 231.088 36.9V36.74C231.088 35.1133 231.608 33.7933 232.648 32.78C233.661 31.7933 234.935 31.3 236.468 31.3C237.921 31.3 239.108 31.72 240.028 32.56C241.055 33.4933 241.568 34.8467 241.568 36.62V37.42H234.028C234.068 38.3 234.308 38.98 234.748 39.46C235.201 39.9267 235.828 40.16 236.628 40.16C237.881 40.16 238.608 39.6733 238.808 38.7H241.548C241.375 39.8333 240.855 40.7067 239.988 41.32C239.135 41.92 237.988 42.22 236.548 42.22ZM238.748 35.64C238.655 34.08 237.895 33.3 236.468 33.3C235.815 33.3 235.275 33.5067 234.848 33.92C234.435 34.32 234.175 34.8933 234.068 35.64H238.748ZM243.701 31.54H246.601V33.54C247.267 32.1133 248.394 31.3933 249.981 31.38V34.08C248.861 34.0667 248.014 34.2667 247.441 34.68C246.881 35.0933 246.601 35.7867 246.601 36.76V42H243.701V31.54Z" fill="#1E1C20" />
          <defs>
          <clipPath id="clip0_3525_6359">
          <rect width="40" height="40" fill="white" transform="matrix(-1 0 0 1 64 16)"/>
          </clipPath>
          </defs>
        </svg>
      </a>

      <div class="btn-lang-group d-xl-none">
          
        {% for language in languages %}
            {% if language.code == code %} 
                <button class="lang-select active" type="button" data-code="{{ language.code }}" name="{{ language.name }}">{{ language.name }}</button>
            {% else %}
                <button class="lang-select" type="button" data-code="{{ language.code }}" name="{{ language.name }}">{{ language.name }}</button>
            {% endif %}
        {% endfor %}
        
      </div>

      <div class="collapse justify-content-xl-between navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <ul class="navbar-nav-list">
            <li class="navbar-item">
              <a class="nav-link" href="{{ href_reviews }}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22 6.25V11.35C22 12.62 21.58 13.69 20.83 14.43C20.09 15.18 19.02 15.6 17.75 15.6V17.41C17.75 18.09 16.99 18.5 16.43 18.12L15.46 17.48C15.55 17.17 15.59 16.83 15.59 16.47V12.4C15.59 10.36 14.23 9 12.19 9H5.39999C5.25999 9 5.13 9.01002 5 9.02002V6.25C5 3.7 6.7 2 9.25 2H17.75C20.3 2 22 3.7 22 6.25Z" stroke="#1E1C20" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M15.59 12.4V16.47C15.59 16.83 15.55 17.17 15.46 17.48C15.09 18.95 13.87 19.87 12.19 19.87H9.47L6.45 21.88C6 22.19 5.39999 21.86 5.39999 21.32V19.87C4.37999 19.87 3.53 19.53 2.94 18.94C2.34 18.34 2 17.49 2 16.47V12.4C2 10.5 3.18 9.19002 5 9.02002C5.13 9.01002 5.25999 9 5.39999 9H12.19C14.23 9 15.59 10.36 15.59 12.4Z" stroke="#1E1C20" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                {{ text_reviews }}
              </a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="{{ href_my_companies }}" data-amount-company="{{ company_count }}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 22H23" stroke="#1E1C20" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M19.7793 22.0098V17.5498" stroke="#1E1C20" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M19.7996 10.8901C18.5796 10.8901 17.5996 11.8701 17.5996 13.0901V15.3601C17.5996 16.5801 18.5796 17.5601 19.7996 17.5601C21.0196 17.5601 21.9996 16.5801 21.9996 15.3601V13.0901C21.9996 11.8701 21.0196 10.8901 19.7996 10.8901Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M2.09961 21.9998V6.02979C2.09961 4.01979 3.09966 3.00977 5.08966 3.00977H11.3196C13.3096 3.00977 14.2996 4.01979 14.2996 6.02979V21.9998" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M5.80078 8.25H10.7508" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M5.80078 12H10.7508" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8.25 22V18.25" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                {{ text_my_companies }}
              </a>
            </li>
            <li class="navbar-item navbar-item-tariffs">
              <a class="nav-link" href="{{ href_tariffs }}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.92969 15.8792L15.8797 3.9292" stroke="#1E1C20" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M11.1016 18.2791L12.3016 17.0791" stroke="#1E1C20" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.793 15.5887L16.183 13.1987" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M3.60127 10.239L10.2413 3.599C12.3613 1.479 13.4213 1.469 15.5213 3.569L20.4313 8.479C22.5313 10.579 22.5213 11.639 20.4013 13.759L13.7613 20.399C11.6413 22.519 10.5813 22.529 8.48127 20.429L3.57127 15.519C1.47127 13.419 1.47127 12.369 3.60127 10.239Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M2 21.9985H22" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                {{ text_tariffs }}
              </a>
            </li>
            <li class="navbar-item d-xl-none">
              <a class="nav-link" href="{{ href_settings }}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3 9.11011V14.8801C3 17.0001 3 17.0001 5 18.3501L10.5 21.5301C11.33 22.0101 12.68 22.0101 13.5 21.5301L19 18.3501C21 17.0001 21 17.0001 21 14.8901V9.11011C21 7.00011 21 7.00011 19 5.65011L13.5 2.47011C12.68 1.99011 11.33 1.99011 10.5 2.47011L5 5.65011C3 7.00011 3 7.00011 3 9.11011Z" stroke="#4B4751" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" stroke="#4B4751" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                {{ text_settings }}
              </a>
            </li>
            <li class="navbar-item d-xl-none">
              <a class="nav-link" href="{{ href_write_review }}"> <!-- delete this item -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22 6.25V11.35C22 12.62 21.58 13.69 20.83 14.43C20.09 15.18 19.02 15.6 17.75 15.6V17.41C17.75 18.09 16.99 18.5 16.43 18.12L15.46 17.48C15.55 17.17 15.59 16.83 15.59 16.47V12.4C15.59 10.36 14.23 9 12.19 9H5.39999C5.25999 9 5.13 9.01002 5 9.02002V6.25C5 3.7 6.7 2 9.25 2H17.75C20.3 2 22 3.7 22 6.25Z" stroke="#1E1C20" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M15.59 12.4V16.47C15.59 16.83 15.55 17.17 15.46 17.48C15.09 18.95 13.87 19.87 12.19 19.87H9.47L6.45 21.88C6 22.19 5.39999 21.86 5.39999 21.32V19.87C4.37999 19.87 3.53 19.53 2.94 18.94C2.34 18.34 2 17.49 2 16.47V12.4C2 10.5 3.18 9.19002 5 9.02002C5.13 9.01002 5.25999 9 5.39999 9H12.19C14.23 9 15.59 10.36 15.59 12.4Z" stroke="#1E1C20" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                {{ text_write_review }}
              </a> <!-- delete this item -->
            </li>
            <li class="navbar-item d-xl-none">
              <a class="nav-link" href="{{ href_feedback }}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 18.43H13L8.54999 21.39C7.88999 21.83 7 21.36 7 20.56V18.43C4 18.43 2 16.43 2 13.43V7.42993C2 4.42993 4 2.42993 7 2.42993H17C20 2.42993 22 4.42993 22 7.42993V13.43C22 16.43 20 18.43 17 18.43Z" stroke="#4B4751" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M11.9998 11.3599V11.1499C11.9998 10.4699 12.4198 10.1099 12.8398 9.81989C13.2498 9.53989 13.6598 9.1799 13.6598 8.5199C13.6598 7.5999 12.9198 6.85986 11.9998 6.85986C11.0798 6.85986 10.3398 7.5999 10.3398 8.5199" stroke="#4B4751" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M11.9955 13.75H12.0045" stroke="#4B4751" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                {{ text_feedback }}
              </a>
            </li>
            <li class="navbar-item d-xl-none">
              <a class="nav-link" href="{{ href_exit }}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.90039 7.55999C9.21039 3.95999 11.0604 2.48999 15.1104 2.48999H15.2404C19.7104 2.48999 21.5004 4.27999 21.5004 8.74999V15.27C21.5004 19.74 19.7104 21.53 15.2404 21.53H15.1104C11.0904 21.53 9.24039 20.08 8.91039 16.54" stroke="#4B4751" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.9991 12H3.61914" stroke="#4B4751" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M5.85 8.6499L2.5 11.9999L5.85 15.3499" stroke="#4B4751" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                {{ text_exit }}
              </a>
            </li>
            <li class="navbar-item btn-lang-group">
                
                {% for language in languages %}
                    {% if language.code == code %} 
                        <button class="lang-select active" type="button" data-code="{{ language.code }}" name="{{ language.name }}">{{ language.name }}</button>
                    {% else %}
                        <button class="lang-select" type="button" data-code="{{ language.code }}" name="{{ language.name }}">{{ language.name }}</button>
                    {% endif %}
                {% endfor %}
                
            </li>
            
            {{ current_tariff }}
            
            {{ account_button }}
            
          </ul>

        </div>
      </div>

    </nav>
  </div>
</header>
