{{ header }}

<section class="success-page page-content">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title">{{ text_activation }}</h2>
      <div class="img-wrap">
        <img src="/catalog/view/stylesheet/static/img/success-check.png" alt="">
      </div>
      <a class="site-btn-lite" href="{{ href_login }}">{{ text_login }}</a>
    </div>
  </div>
</section>

{{ footer }}