{{ header }}

<section class="add-company-page page-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <h2>{{ title_company_form }}</h2>
      </div>
    </div>

    <form class="row add-company-form" id="add_company_form" enctype="multipart/form-data" action="{{ company_form_action }}">
      <div class="col-xl-6 col-lg-6 form-block">

        <div class="form-group">
          <h3>{{ text_load_company_logo }}</h3>
          <p class="logo-requirements">{{ text_logo_requirements }}</p>
          <div class="dropzone-wrapper">
            <span class="remove-preview">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" fill="white" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.16992 14.8299L14.8299 9.16992" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.8299 14.8299L9.16992 9.16992" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                
            </span>
            <input type="file" name="img_logo" class="dropzone" accept=".jpg, .jpeg, .png">
            <div class="dropzone-desc">
              <svg class="icon-dropzone" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M38.756 46.6665C41.8827 46.6899 44.8927 45.5232 47.2027 43.4232C54.8327 36.7499 50.7494 23.3565 40.6927 22.0965C37.0994 0.303215 5.66937 8.56321 13.1127 29.3065" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.9859 30.2631C15.7492 29.6331 14.3725 29.3064 12.9959 29.3298C2.12253 30.0998 2.14586 45.9198 12.9959 46.6898" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M36.9141 23.0768C38.1274 22.4701 39.4341 22.1435 40.7874 22.1201" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M30.263 46.6665H20.9297" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M25.5957 51.3333V42" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <p class="text-dropzone">{{ text_drag_paste_file }}</p>
              <!-- error messages -->
              <p class="very-big-img error-message d-none">{{ error_large_image }}</p>
              <p class="very-small-img error-message d-none">{{ error_small_image }}</p>
              <!-- <p class="cannot-be-empty d-none">{{ error_select_logo }}</p> -->
            </div>
          </div>
        </div>

        <label class="type-text" for="company_name">{{ text_company_name }}</label>
        <div class="company-name-group input-group">
          <input class="company-name input-text" type="text" name="company_name" id="company_name" value="{{ company_name }}" placeholder="{{ placeholder_company_name }}" autocomplete="off">
          <span class="error-message d-none">{{ error_company_name_required }}</span>
        </div>
        
        <div class="need-phone-group">
          <div class="text">
            <span>{{ text_client_telephone_on_review }}</span>
            <p>{{ text_required_if_rate_less_or_equal }}</p>
          </div>
          <div class="quantity">
            <!-- .quantity-button-star (!) with this class the logic changes -->
            <div class="quantity-button quantity-button-star  quantity-down">
              <svg width="14" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1H13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>
            <input class="d-none" type="number" name="telephone_required_rating" id="telephone_required_rating" min="1" max="5" step="1" value="{{ settings.customer_telephone_required.rating }}">
            <span class="quantity-number">{{ settings.customer_telephone_required.rating }}</span>
            <!-- .quantity-button-star (!) with this class the logic changes -->
            <div class="quantity-button quantity-button-star quantity-up">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 7H13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M7 13V1" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>                  
            </div>
          </div>

          <input class="need-phone d-none" type="checkbox" name="check_telephone_required" id="check_telephone_required" {% if settings.customer_telephone_required.active %} checked{% endif %}>
          <label for="check_telephone_required" title="off - on"><span class="on-off"></span></label>
        </div>

        <div class="duplicate-review-group">
          <div class="text">
            <span>{{ text_dublicate_positive_review_on_services }}</span>
            <p>{{ text_min_rate_to_able_dublicate_review }}</p>
          </div>
          <div class="quantity">
            <!-- .quantity-button-star (!) with this class the logic changes -->
            <div class="quantity-button quantity-button-star  quantity-down">
              <svg width="14" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1H13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>                  
            </div>
            <input class="d-none" type="number" name="review_dublication_rating" id="review_dublication_rating" min="1" max="5" step="1" value="{{ settings.review_dublication.rating }}">
            <span class="quantity-number">{{ settings.review_dublication.rating }}</span>
            <!-- .quantity-button-star (!) with this class the logic changes -->
            <div class="quantity-button quantity-button-star quantity-up">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 7H13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M7 13V1" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>                  
            </div>
          </div>
  
          <input class="duplicate-review d-none" type="checkbox" name="check_duplicate_review" id="check_duplicate_review" {% if settings.review_dublication.active %} checked{% endif %}>
          <label for="check_duplicate_review" title="off - on"><span class="on-off"></span></label>
        </div>
        <h3>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.033 4.8501C14.5163 4.8501 10.033 9.33343 10.033 14.8501V19.6668C10.033 20.6834 9.59966 22.2334 9.08299 23.1001L7.16633 26.2834C5.98299 28.2501 6.79966 30.4334 8.96632 31.1668C16.1497 33.5668 23.8997 33.5668 31.083 31.1668C33.0997 30.5001 33.983 28.1168 32.883 26.2834L30.9663 23.1001C30.4663 22.2334 30.033 20.6834 30.033 19.6668V14.8501C30.033 9.3501 25.533 4.8501 20.033 4.8501Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
            <path d="M23.1159 5.3334C22.5992 5.1834 22.0659 5.06673 21.5159 5.00006C19.9159 4.80006 18.3826 4.91673 16.9492 5.3334C17.4326 4.10006 18.6326 3.2334 20.0326 3.2334C21.4326 3.2334 22.6325 4.10006 23.1159 5.3334Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M25.0332 31.7666C25.0332 34.5166 22.7832 36.7666 20.0332 36.7666C18.6665 36.7666 17.3999 36.1999 16.4999 35.2999C15.5999 34.3999 15.0332 33.1333 15.0332 31.7666" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"/>
          </svg>
          <span class="h3">{{ text_review_notifications }}</span>
        </h3>
        <div class="label-wrap">
          <label class="type-text" for="notification_telegram_phone">{{ text_entry_phone_telegram }}</label>
          <a class="info-link" href="/" target="_blank">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.4779 13.8997V8.99961M10.3088 6.02092V5.70444M10.0647 2.00195C13.6961 2.09406 20.1053 5.82085 17.3162 13.4845C13.8298 23.0641 1.13978 15.1904 2.0462 10.1381C2.95263 5.08575 6.43329 1.90984 10.0647 2.00195Z" stroke="#3B5498" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            <span class="link-text">{{ text_how_to_connect }}</span>
          </a>
        </div>
        <div class="telegram-group input-group">
          <input class="check-telegram-number d-none" type="checkbox" name="check_notification_telegram_phone" id="check_notification_telegram_phone" {% if settings.review_notification.telegram.active %} checked{% endif %}>
          <input type="tel" class="telegram-number" name="notification_telegram_phone" id="notification_telegram_phone" placeholder="{{ placeholder_380 }}" autocomplete="off" value="{{ settings.review_notification.telegram.value }}">
          <label for="check_notification_telegram_phone" title="off - on"><span class="on-off"></span></label>
          <span class="error-message d-none">{{ error_telegram_number }}</span>
        </div>
        <label class="type-text" for="notification_email">{{ text_email }}</label>
        <div class="email-group input-group">
          <input class="check-email d-none" type="checkbox" name="check_notification_email" id="check_notification_email" {% if settings.review_notification.email.active %} checked{% endif %}>
          <input type="text" class="email" name="notification_email" id="notification_email" placeholder="{{ placeholder_entry_email }}" autocomplete="off" value="{{ settings.review_notification.email.value }}">
          <label for="check_notification_email" title="off - on"><span class="on-off"></span></label>
          <span class="error-message d-none">{{ error_correct_email }}</span>
        </div>
      </div>

      <div class="col-xl-6 col-lg-6">
      
        {% for i, custom_field in settings.custom_fields %}
            <label class="type-text">{{ text_text_field }}</label>
            <div class="text-field-group input-group">
              <input class="check-text-field d-none" type="checkbox" name="check_text_field_{{ i }}" id="check_text_field_{{ i }}" {% if custom_field.active %} checked{% endif %}>
              <textarea class="text-field" name="text_field_{{ i }}" id="text_field_{{ i }}" placeholder="{{ placeholder_type_your_text }}" autocomplete="off">{{ custom_field.value }}</textarea>
              <label for="check_text_field_{{ i }}" title="off - on"><span class="on-off"></span></label>
              <span class="error-message d-none">{{ error_text }}</span>
            </div>
        {% endfor %}
        
        <h3>{{ text_client_recomendation }}</h3>
        <p class="recomend-text">{{ text_dublicate_positive_review_on_services }}</p>
        <p class="recomend-text">{{ text_also_recomend_grab_links_from_mobile_apps }}</p>
        <label class="type-text" for="duplicate_google">{{ text_google }}</label>
        <div class="google-group input-group">
          <input class="check-google d-none" type="checkbox" name="check_duplicate_google" id="check_duplicate_google" {% if settings.review_dublication.services.google.active %} checked{% endif %}>
          <input type="text" class="google" name="duplicate_google" id="duplicate_google" placeholder="{{ placeholder_your_profile }}" autocomplete="off" value="{{ settings.review_dublication.services.google.value }}">
          <label for="check_duplicate_google" title="off - on"><span class="on-off"></span></label>
          <span class="error-message d-none">{{ error_text }}</span>
        </div>
        <label class="type-text" for="duplicate_facebook">{{ text_facebook }}</label>
        <div class="facebook-group input-group">
          <input class="check-facebook d-none" type="checkbox" name="check_duplicate_facebook" id="check_duplicate_facebook" {% if settings.review_dublication.services.facebook.active %} checked{% endif %}>
          <input type="text" class="facebook" name="duplicate_facebook" id="duplicate_facebook" placeholder="{{ placeholder_your_profile }}" autocomplete="off" value="{{ settings.review_dublication.services.facebook.value }}">
          <label for="check_duplicate_facebook" title="off - on"><span class="on-off"></span></label>
          <span class="error-message d-none">{{ error_text }}</span>
        </div>
        <label class="type-text" for="duplicate_profile_link">{{ text_another_service_link }}</label>
        <div class="profile-link-group input-group">
          <input class="check-profile-link d-none" type="checkbox" name="check_duplicate_profile_link" id="check_duplicate_profile_link" {% if settings.review_dublication.services.custom.active %} checked{% endif %}>
          <input type="text" class="profile-name" name="duplicate_profile_name" id="duplicate_profile_name" placeholder="{{ placeholder_resource_name }}" autocomplete="off" value="{{ settings.review_dublication.services.custom.name }}">
          <label for="check_duplicate_profile_link" title="off - on"><span class="on-off"></span></label>
          <input type="text" class="profile-link" name="duplicate_profile_link" id="duplicate_profile_link" placeholder="{{ placeholder_your_profile }}" autocomplete="off" value="{{ settings.review_dublication.services.custom.link }}">
          <span class="error-message d-none">{{ error_text }}</span>
        </div>
          
        <input class="btn-rate-pay" type="submit" value="{{ text_save_settings }}">
      </div>
    </form>
  </div>
</section>

{{ footer }}
