{{ header }}

<div class="reviews-page page-header page-content">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12 dropdown-reviews-company-wrap">
      <div class="dropdown dropdown-reviews-company">
        <button class="btn dropdown-toggle" type="button" id="dropdownreviewsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- if img .length === 0 -> img will be replaced with letters AB -->
          <span class="img-wrap">
          {% if current_company_image %}
            <img class="user-img" src="{{ current_company_image }}" alt="">
          {% endif %}
          </span>
          <span class="text-wrap">
            <span class="name">{{ current_company_name }}</span>
            <!-- <span class="name">MONO jewerly Premium</span> -->
            <!-- <br> -->
            <!-- <span class="company-rating">
              Общий рейтинг:
              <span class="star-rating">
                <span style="width: 65%"></span>
              </span>
              <span class="rating-level">4.5</span>
            </span> -->
          </span>
          <svg class="icon-toggle" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="32" height="32" rx="16" fill="#1E1C20"></rect>
            <path d="M16 19C17.6569 19 19 17.6569 19 16C19 14.3431 17.6569 13 16 13C14.3431 13 13 14.3431 13 16C13 17.6569 14.3431 19 16 19Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M6 16.8799V15.1199C6 14.0799 6.85 13.2199 7.9 13.2199C9.71 13.2199 10.45 11.9399 9.54 10.3699C9.02 9.46994 9.33 8.29994 10.24 7.77994L11.97 6.78994C12.76 6.31994 13.78 6.59994 14.25 7.38994L14.36 7.57994C15.26 9.14994 16.74 9.14994 17.65 7.57994L17.76 7.38994C18.23 6.59994 19.25 6.31994 20.04 6.78994L21.77 7.77994C22.68 8.29994 22.99 9.46994 22.47 10.3699C21.56 11.9399 22.3 13.2199 24.11 13.2199C25.15 13.2199 26.01 14.0699 26.01 15.1199V16.8799C26.01 17.9199 25.16 18.7799 24.11 18.7799C22.3 18.7799 21.56 20.0599 22.47 21.6299C22.99 22.5399 22.68 23.6999 21.77 24.2199L20.04 25.2099C19.25 25.6799 18.23 25.3999 17.76 24.6099L17.65 24.4199C16.75 22.8499 15.27 22.8499 14.36 24.4199L14.25 24.6099C13.78 25.3999 12.76 25.6799 11.97 25.2099L10.24 24.2199C9.33 23.6999 9.02 22.5299 9.54 21.6299C10.45 20.0599 9.71 18.7799 7.9 18.7799C6.85 18.7799 6 17.9199 6 16.8799Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
        <div class="dropdown-menu">
        
            {% for company in companies %}
                <a class="dropdown-item" href="{{ company.href }}">
                    <span class="img-wrap">
                        <img class="user-img" src="{{ company.thumb }}" alt="{{ company.name }}">
                    </span>
                    <span class="text">{{ company.name }}</span>
                </a>
            {% endfor %}
          
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 pl-md-0 ml-lg-auto chart-wrap-block">
      <div class="rattings-wrap mx-auto">
      
        {% for stat_class, stat_value in review_stats%}
            <div class="ratting">
                <!-- ratting-1 ratting-2 ... ratting-5 -->
                <svg class="ratting-stars {{ stat_class }}" width="100" height="20" viewBox="0 0 132 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="star_1" d="M11.4417 2.925L12.9083 5.85833C13.1083 6.26667 13.6417 6.65833 14.0917 6.73333L16.75 7.175C18.45 7.45833 18.85 8.69167 17.625 9.90833L15.5583 11.975C15.2083 12.325 15.0167 13 15.125 13.4833L15.7167 16.0417C16.1833 18.0667 15.1083 18.85 13.3167 17.7917L10.825 16.3167C10.375 16.05 9.63334 16.05 9.175 16.3167L6.68333 17.7917C4.9 18.85 3.81667 18.0583 4.28333 16.0417L4.875 13.4833C4.98333 13 4.79167 12.325 4.44167 11.975L2.375 9.90833C1.15833 8.69167 1.55 7.45833 3.25 7.175L5.90833 6.73333C6.35 6.65833 6.88333 6.26667 7.08333 5.85833L8.55 2.925C9.35 1.33333 10.65 1.33333 11.4417 2.925Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path class="star_2" d="M39.4417 2.925L40.9083 5.85833C41.1083 6.26667 41.6417 6.65833 42.0917 6.73333L44.75 7.175C46.45 7.45833 46.85 8.69167 45.625 9.90833L43.5583 11.975C43.2083 12.325 43.0167 13 43.125 13.4833L43.7167 16.0417C44.1833 18.0667 43.1083 18.85 41.3167 17.7917L38.825 16.3167C38.375 16.05 37.6333 16.05 37.175 16.3167L34.6833 17.7917C32.9 18.85 31.8167 18.0583 32.2833 16.0417L32.875 13.4833C32.9833 13 32.7917 12.325 32.4417 11.975L30.375 9.90833C29.1583 8.69167 29.55 7.45833 31.25 7.175L33.9083 6.73333C34.35 6.65833 34.8833 6.26667 35.0833 5.85833L36.55 2.925C37.35 1.33333 38.65 1.33333 39.4417 2.925Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path class="star_3" d="M67.4417 2.925L68.9083 5.85833C69.1083 6.26667 69.6417 6.65833 70.0917 6.73333L72.75 7.175C74.45 7.45833 74.85 8.69167 73.625 9.90833L71.5583 11.975C71.2083 12.325 71.0167 13 71.125 13.4833L71.7167 16.0417C72.1833 18.0667 71.1083 18.85 69.3167 17.7917L66.825 16.3167C66.375 16.05 65.6333 16.05 65.175 16.3167L62.6833 17.7917C60.9 18.85 59.8167 18.0583 60.2833 16.0417L60.875 13.4833C60.9833 13 60.7917 12.325 60.4417 11.975L58.375 9.90833C57.1583 8.69167 57.55 7.45833 59.25 7.175L61.9083 6.73333C62.35 6.65833 62.8833 6.26667 63.0833 5.85833L64.55 2.925C65.35 1.33333 66.65 1.33333 67.4417 2.925Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path class="star_4" d="M95.4417 2.925L96.9083 5.85833C97.1083 6.26667 97.6417 6.65833 98.0917 6.73333L100.75 7.175C102.45 7.45833 102.85 8.69167 101.625 9.90833L99.5583 11.975C99.2083 12.325 99.0167 13 99.125 13.4833L99.7167 16.0417C100.183 18.0667 99.1083 18.85 97.3167 17.7917L94.825 16.3167C94.375 16.05 93.6333 16.05 93.175 16.3167L90.6833 17.7917C88.9 18.85 87.8167 18.0583 88.2833 16.0417L88.875 13.4833C88.9833 13 88.7917 12.325 88.4417 11.975L86.375 9.90833C85.1583 8.69167 85.55 7.45833 87.25 7.175L89.9083 6.73333C90.35 6.65833 90.8833 6.26667 91.0833 5.85833L92.55 2.925C93.35 1.33333 94.65 1.33333 95.4417 2.925Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path class="star_5" d="M123.442 2.925L124.908 5.85833C125.108 6.26667 125.642 6.65833 126.092 6.73333L128.75 7.175C130.45 7.45833 130.85 8.69167 129.625 9.90833L127.558 11.975C127.208 12.325 127.017 13 127.125 13.4833L127.717 16.0417C128.183 18.0667 127.108 18.85 125.317 17.7917L122.825 16.3167C122.375 16.05 121.633 16.05 121.175 16.3167L118.683 17.7917C116.9 18.85 115.817 18.0583 116.283 16.0417L116.875 13.4833C116.983 13 116.792 12.325 116.442 11.975L114.375 9.90833C113.158 8.69167 113.55 7.45833 115.25 7.175L117.908 6.73333C118.35 6.65833 118.883 6.26667 119.083 5.85833L120.55 2.925C121.35 1.33333 122.65 1.33333 123.442 2.925Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span class="amount">{{ stat_value }}</span>
            </div>
        {% endfor %}
        
      </div>
    </div>
    <div class="col-xl-4 col-lg-5 col-md-3 col-sm-12 pl-xl-0 pl-md-0 ml-lg-auto filter-wrap-block">
      
        <div class="filter-wrap">
            <span class="title">{{ text_to_filter }}</span>
            <div class="label-group">
                {% for sort in sorts %}
                    {% if active_sort == sort.value %}
                        <a class="filter-label active" href="{{ no_sort_href }}">{{ sort.text }}</a>
                    {% else %}
                        <a class="filter-label" href="{{ sort.href }}">{{ sort.text }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
    </div>
  </div>
</div>

<div class="reviews-page page-body page-content">
  <div class="row">
  
    {% if tariff_expired_block %}
        {{ tariff_expired_block }}
    {% endif %}
    
    {% for review in reviews %}
    
        {% set bg_class = ''%}
        {% if review.rating == 3 %}
            {% set bg_class = 'yellow-bg' %}
        {% elseif review.rating == 4 %}
            {% set bg_class = 'red-bg' %}
        {% elseif review.rating == 5 %}
            {% set bg_class = 'green-bg' %}
        {% endif %}
        
        <div class="col-xl-4 col-lg-6 col-md-6 review-wrap">
        
          <div id="review_{{ review.id }}" class="review-card {{ bg_class }} {% if review.expired %} expired {% endif %}">
          
            {% if review.expired %}
                <div class="expired-text">
                    <span>
                        {{ text_expired_pay }}
                    </span>
                </div>
            {% endif %}
            
            <div class="deleted-text">
                <span>
                    <button class="site-btn" onclick="setReviewStatus({{ review.id }}, 1)">{{ text_recover }}</button>
                </span>
            </div>

            <div class="review-header">
              
              {% if review.expired %}
                  <div class="menu-review hide">
                  </div>
              {% else %}
                <div class="control-container">
                  <div class="select">
                      {% if review.status == '1' %}
                          <div class="selectBtn" data-type="firstOption">{{ text_new_one }}</div>
                      {% endif %}
                      {% if review.status == '2' %}
                          <div class="selectBtn" data-type="firstOption">{{ text_solved_one }}</div>
                      {% endif %}
                      <div class="selectDropdown">
                          <div class="option" data-review-id="{{ review.id }}" data-status="1" data-type="{{ text_new_one }}">{{ text_to_return }}</div>
                          <div class="option" data-review-id="{{ review.id }}" data-status="2" data-type="{{ text_solved_one }}">{{ text_to_solve }}</div>
                      </div>
                  </div>
                  
                  <div>
                      <button class="btn-review-remove" onclick="setReviewStatus({{ review.id }}, 0)">X</button>
                  </div>
                </div>
              {% endif %}
              
              <!-- <div class="user-img"><img src="/catalog/view/stylesheet/static/img/test.png" alt=""></div> -->
              <!-- <div class="user-img"></div> -->
              <div class="text-wrap">
                <!-- <div class="user-name">{{ review.author }}</div> -->
                <div class="ratting">
                  <svg class="ratting-stars ratting-{{ review.rating }}" width="132" height="20" viewBox="0 0 132 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="star_1" d="M11.4417 2.925L12.9083 5.85833C13.1083 6.26667 13.6417 6.65833 14.0917 6.73333L16.75 7.175C18.45 7.45833 18.85 8.69167 17.625 9.90833L15.5583 11.975C15.2083 12.325 15.0167 13 15.125 13.4833L15.7167 16.0417C16.1833 18.0667 15.1083 18.85 13.3167 17.7917L10.825 16.3167C10.375 16.05 9.63334 16.05 9.175 16.3167L6.68333 17.7917C4.9 18.85 3.81667 18.0583 4.28333 16.0417L4.875 13.4833C4.98333 13 4.79167 12.325 4.44167 11.975L2.375 9.90833C1.15833 8.69167 1.55 7.45833 3.25 7.175L5.90833 6.73333C6.35 6.65833 6.88333 6.26667 7.08333 5.85833L8.55 2.925C9.35 1.33333 10.65 1.33333 11.4417 2.925Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="star_2" d="M39.4417 2.925L40.9083 5.85833C41.1083 6.26667 41.6417 6.65833 42.0917 6.73333L44.75 7.175C46.45 7.45833 46.85 8.69167 45.625 9.90833L43.5583 11.975C43.2083 12.325 43.0167 13 43.125 13.4833L43.7167 16.0417C44.1833 18.0667 43.1083 18.85 41.3167 17.7917L38.825 16.3167C38.375 16.05 37.6333 16.05 37.175 16.3167L34.6833 17.7917C32.9 18.85 31.8167 18.0583 32.2833 16.0417L32.875 13.4833C32.9833 13 32.7917 12.325 32.4417 11.975L30.375 9.90833C29.1583 8.69167 29.55 7.45833 31.25 7.175L33.9083 6.73333C34.35 6.65833 34.8833 6.26667 35.0833 5.85833L36.55 2.925C37.35 1.33333 38.65 1.33333 39.4417 2.925Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="star_3" d="M67.4417 2.925L68.9083 5.85833C69.1083 6.26667 69.6417 6.65833 70.0917 6.73333L72.75 7.175C74.45 7.45833 74.85 8.69167 73.625 9.90833L71.5583 11.975C71.2083 12.325 71.0167 13 71.125 13.4833L71.7167 16.0417C72.1833 18.0667 71.1083 18.85 69.3167 17.7917L66.825 16.3167C66.375 16.05 65.6333 16.05 65.175 16.3167L62.6833 17.7917C60.9 18.85 59.8167 18.0583 60.2833 16.0417L60.875 13.4833C60.9833 13 60.7917 12.325 60.4417 11.975L58.375 9.90833C57.1583 8.69167 57.55 7.45833 59.25 7.175L61.9083 6.73333C62.35 6.65833 62.8833 6.26667 63.0833 5.85833L64.55 2.925C65.35 1.33333 66.65 1.33333 67.4417 2.925Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="star_4" d="M95.4417 2.925L96.9083 5.85833C97.1083 6.26667 97.6417 6.65833 98.0917 6.73333L100.75 7.175C102.45 7.45833 102.85 8.69167 101.625 9.90833L99.5583 11.975C99.2083 12.325 99.0167 13 99.125 13.4833L99.7167 16.0417C100.183 18.0667 99.1083 18.85 97.3167 17.7917L94.825 16.3167C94.375 16.05 93.6333 16.05 93.175 16.3167L90.6833 17.7917C88.9 18.85 87.8167 18.0583 88.2833 16.0417L88.875 13.4833C88.9833 13 88.7917 12.325 88.4417 11.975L86.375 9.90833C85.1583 8.69167 85.55 7.45833 87.25 7.175L89.9083 6.73333C90.35 6.65833 90.8833 6.26667 91.0833 5.85833L92.55 2.925C93.35 1.33333 94.65 1.33333 95.4417 2.925Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="star_5" d="M123.442 2.925L124.908 5.85833C125.108 6.26667 125.642 6.65833 126.092 6.73333L128.75 7.175C130.45 7.45833 130.85 8.69167 129.625 9.90833L127.558 11.975C127.208 12.325 127.017 13 127.125 13.4833L127.717 16.0417C128.183 18.0667 127.108 18.85 125.317 17.7917L122.825 16.3167C122.375 16.05 121.633 16.05 121.175 16.3167L118.683 17.7917C116.9 18.85 115.817 18.0583 116.283 16.0417L116.875 13.4833C116.983 13 116.792 12.325 116.442 11.975L114.375 9.90833C113.158 8.69167 113.55 7.45833 115.25 7.175L117.908 6.73333C118.35 6.65833 118.883 6.26667 119.083 5.85833L120.55 2.925C121.35 1.33333 122.65 1.33333 123.442 2.925Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="review-body">
              <div class="date">
                <svg class="icon-time" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 2V5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M16 2V5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M3.5 9.09009H20.5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M15.6937 13.7H15.7027" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M15.6937 16.7H15.7027" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11.9945 13.7H12.0035" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11.9945 16.7H12.0035" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M8.29529 13.7H8.30427" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M8.29529 16.7H8.30427" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span class="date">{{ review.date }}</span>
                <span class="time">{{ review.time }}</span>
              </div>
              <div class="text">
                <p>{{ review.text }}</p>
              </div>
            </div>

                {% if review.telephone %}
                    <button class="site-btn-lite btn-phone">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.97 18.83C21.97 19.19 21.89 19.56 21.72 19.92C21.55 20.28 21.33 20.62 21.04 20.94C20.55 21.48 20.01 21.87 19.4 22.12C18.8 22.37 18.15 22.5 17.45 22.5C16.43 22.5 15.34 22.26 14.19 21.77C13.04 21.28 11.89 20.62 10.75 19.79C9.6 18.95 8.51 18.02 7.47 16.99C6.44 15.95 5.51 14.86 4.68 13.72C3.86 12.58 3.2 11.44 2.72 10.31C2.24 9.17 2 8.08 2 7.04C2 6.36 2.12 5.71 2.36 5.11C2.6 4.5 2.98 3.94 3.51 3.44C4.15 2.81 4.85 2.5 5.59 2.5C5.87 2.5 6.15 2.56 6.4 2.68C6.66 2.8 6.89 2.98 7.07 3.24L9.39 6.51C9.57 6.76 9.7 6.99 9.79 7.21C9.88 7.42 9.93 7.63 9.93 7.82C9.93 8.06 9.86 8.3 9.72 8.53C9.59 8.76 9.4 9 9.16 9.24L8.4 10.03C8.29 10.14 8.24 10.27 8.24 10.43C8.24 10.51 8.25 10.58 8.27 10.66C8.3 10.74 8.33 10.8 8.35 10.86C8.53 11.19 8.84 11.62 9.28 12.14C9.73 12.66 10.21 13.19 10.73 13.72C11.27 14.25 11.79 14.74 12.32 15.19C12.84 15.63 13.27 15.93 13.61 16.11C13.66 16.13 13.72 16.16 13.79 16.19C13.87 16.22 13.95 16.23 14.04 16.23C14.21 16.23 14.34 16.17 14.45 16.06L15.21 15.31C15.46 15.06 15.7 14.87 15.93 14.75C16.16 14.61 16.39 14.54 16.64 14.54C16.83 14.54 17.03 14.58 17.25 14.67C17.47 14.76 17.7 14.89 17.95 15.06L21.26 17.41C21.52 17.59 21.7 17.8 21.81 18.05C21.91 18.3 21.97 18.55 21.97 18.83Z" stroke="#1E1C20" stroke-width="1.5" stroke-miterlimit="10"/>
                        </svg>
                        <span class="phpne">{{ review.telephone }}</span>
                    </button>
                {% endif %}
                
                {% if review.email %}
                    <button class="site-btn-lite btn-email">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 21H7C4 21 2 19.5 2 16V9C2 5.5 4 4 7 4H17C20 4 22 5.5 22 9V16C22 19.5 20 21 17 21Z" stroke="#1E1C20" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M17 9.5L13.87 12C12.84 12.82 11.15 12.82 10.12 12L7 9.5" stroke="#1E1C20" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span class="email">{{ review.email }}</span>
                    </button>
                {% endif %}
                
              
          </div>
        </div>
    {% endfor %}
    
    {{ pagination }}
    
  </div>
</div>

{{ footer }}


<style>
    .control-container{
        display: flex;
        justify-content: end;
    }
    .btn-review-remove{
        background-color: #fff;
        padding: 10px;
        margin-left: 16px;
        width: 44px;
    }
    .select {
        min-width: 135px;
        position: relative;
        margin-bottom: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .select .selectBtn {
      background: var(--bg1);
      padding: 10px;
      box-sizing: border-box;
      border-radius: 3px;
      width: 100%;
      cursor: pointer;
      position: relative;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background: #fff;
    }
    .select .selectBtn:after {
      content: "";
      position: absolute;
      top: 45%;
      right: 15px;
      width: 6px;
      height: 6px;
      -webkit-transform: translateY(-50%) rotate(45deg);
              transform: translateY(-50%) rotate(45deg);
      border-right: 2px solid #666;
      border-bottom: 2px solid #666;
      transition: 0.2s ease;
    }
    .select .selectBtn.toggle {
      border-radius: 3px 3px 0 0;
    }
    .select .selectBtn.toggle:after {
      -webkit-transform: translateY(-50%) rotate(-135deg);
              transform: translateY(-50%) rotate(-135deg);
    }
    .select .selectDropdown {
      position: absolute;
      top: 100%;
      width: 100%;
      border-radius: 0 0 3px 3px;
      overflow: hidden;
      background: var(--bg1);
      border-top: 1px solid #eee;
      z-index: 1;
      background: #fff;
      -webkit-transform: scale(1, 0);
              transform: scale(1, 0);
      -webkit-transform-origin: top center;
              transform-origin: top center;
      visibility: hidden;
      transition: 0.2s ease;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }
    .select .selectDropdown .option {
      padding: 10px;
      box-sizing: border-box;
      cursor: pointer;
    }
    .select .selectDropdown .option:hover {
      background: #f8f8f8;
    }
    .select .selectDropdown.toggle {
      visibility: visible;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
</style>

<script>
    const select = document.querySelectorAll('.selectBtn');
    const option = document.querySelectorAll('.option');
    let index = 1;

    select.forEach(a => {
    	a.addEventListener('click', b => {
    		const next = b.target.nextElementSibling;
    		next.classList.toggle('toggle');
    		next.style.zIndex = index++;
    	})
    })
    option.forEach(a => {
    	a.addEventListener('click', b => {
    		b.target.parentElement.classList.remove('toggle');
    		
    		const parent = b.target.closest('.select').children[0];
    		parent.setAttribute('data-type', b.target.getAttribute('data-type'));
    		parent.innerText = b.target.getAttribute('data-type');
            
            setReviewStatus(b.target.getAttribute('data-review-id'), b.target.getAttribute('data-status'))
    	})
    })
</script>